:root{
	--h1-fontsize: 60px;
	--h2-fontsize: 50px;
	--h3-fontsize: 30px;
	--h4-fontsize: 18px;
	--h5-fontsize: 16px;
	--padding50: 50px;
	@include respond-below(hl){
		--h1-fontsize: 48px;
	}
	@include respond-below(xl){
		--h1-fontsize: 42px;
		--h2-fontsize: 38px;
	}
    @include respond-below(md){
		--h3-fontsize: 24px;
    }
    @include respond-below(sm){
		--h1-fontsize: 38px;
		--h2-fontsize: 32px;
		--h4-fontsize: 16px;
    }
}

// Fonts 
$headerFont: 'Inter', sans-serif;
$bodyFont: 'Inter', sans-serif;

// color
$primary: #4157ff !default;
$danger: #FE504F !default;
$warning: #FFA53C !default;
$white: #ffffff !default;
$black: #000000 !default;
$liteGrey: #f9f9f9 !default;
$danger: #e22e2e;
$tundra: #444444;
$dark: #111111;
$grey: #999;
$grey2: #ededed;
$red: #FF4646;

// $template-color: #4157ff;

// theme-color
$theme-colors: () !default;
$theme-colors: map-merge(
	(
		'primary': $primary,
		'danger': $danger,
		'warning': $warning,
		'white': $white,
		'black': $black,
		'liteGrey': $liteGrey,
	),
	$theme-colors
);
