
@mixin fontStyle($fontsize: 1.4rem, $fontweight: 400, $color: $baliHai) {
    font-size: $fontsize;
    font-weight: $fontweight;
    color: $color;
}
%headerFont {
    font-family: $headerFont;
}
%bodyFont {
    font-family: $bodyFont;
}