
.section__header {
    margin-bottom: 30px;
    h2 {
        @include fontStyle(var(--h3-fontsize), 700, $dark);
        @extend %headerFont;
        img {
            margin-left: 10px;
        }
    }
    &--flex {
        display: flex;
        justify-content: space-between;
        align-items: center;
        @include respond-below(sm) {
            display: block;
            div:last-child {
                margin-top: 20px;
            }
        }
    }
}
