
.hero__content {
    h1 {
        @include fontStyle(var(--h1-fontsize), 700, $dark);
        @extend %headerFont;
        line-height: 1.5;
        margin-bottom: 20px;
        @include respond-below(sm) {
            br {
                display: none;
            }
        }
        span {
            @extend %gradientText;
            img {
                margin-left: 10px;
                margin-top: -10px;
                @include respond-below(md) {
                    height: 35px;
                }
            }
        }
    }
    p {
        @include fontStyle(var(--h4-fontsize), 400, $dark);
        @extend %bodyFont;
        margin-bottom: 35px;
    }
    .create__button {
        &:hover {
            border-color: rgba($primary, .3);
            background: $white;
            color: $primary;
        }
    }
}

.hero__thumb__area {
    position: relative;
    z-index: 0;
    @include respond-below(lg) {
        display: none;
    }
    .hero__thumb {
        position: relative;
        z-index: 1;
    }
    .hero__shadow {
        position: absolute;
        z-index: -1;
        top: 25%;
        left: -80px;
    }
}