
header {
    position: relative;
    height: 105px;
    @include respond-below(xl) {
        height: 85px;
    }
    @include respond-below(md) {
        height: 60px;
    }
    .bd-nav {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 999;
        padding: 30px 0;
        transition: all .3s ease;
        @include respond-below(xl) {
            padding: 20px 0;
        }
        @include respond-below(lg) {
            background: $white;
        }
        @include respond-below(md) {
            padding: 10px 0;
        }
        &.fixed {
            background: rgba($white, .8);
            backdrop-filter: blur(10px);
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            padding: 20px 0;
            box-shadow: 0px 4px 8px rgba($black, 0.04);
            @include respond-below(lg) {
                background: $white;
            }
            @include respond-below(md) {
                padding: 10px 0;
            }
        }
    }
}

.header__shape {
    &::before {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        content: url('../img/header-shape.png');
        
    }
}

.bd-nav {
    .navbar {
        background: transparent;
        padding: 0;
        .navbar-brand {
            margin-right: 100px;
            padding: 0;
            @include respond-below(xxl) {
                margin-right: 50px;
            }
            @include respond-below(md) {
                margin-right: 10px;
            }
        }
        .navbar-collapse {
            margin-right: 40px;
            @include respond-below(lg) {
                position: fixed;
                top: 85px;
                left: 0;
                right: 0;
                background: $white;
                box-shadow: 0px 10px 20px rgba($black, 0.05);
                margin-right: 0;
                padding: 0 20px;
                z-index: 99999;
            }
            @include respond-below(md) {
                top: 50px;
            }
            .explore__category {
                margin-right: 80px;
                @include respond-below(xxl) {
                    margin-right: 30px;
                }
                @include respond-above(lg) {
                    order: 1;
                }
                @include respond-below(lg) {
                    margin-bottom: 15px;
                    margin-top: 5px;
                    margin-right: 0;
                }
            }
            .nav__search {
                position: relative;
                flex: 1 1 auto;
                margin-right: 90px;
                display: none;
                @include respond-above(xl) {
                    order: 2;
                    display: block;
                }
                .icon {
                    position: absolute;
                    top: 10px;
                    left: 15px;
                    font-size: 1.5rem;
                    color: $grey;
                }
                .form-control {
                    padding-left: 40px;
                }
            }
            .main__nav {
                @include respond-above(lg) {
                    order: 3;
                    margin-left: auto;
                }
                @include respond-below(lg) {
                    margin-top: 15px;
                }
            }
            .navbar-nav {
                @include respond-below(lg) {
                    width: 100%;
                }
                .nav-item {
                    position: relative;
                    &:not(:last-child) {
                        @include respond-above(lg) {
                            margin-right: 30px;
                        }
                        margin-bottom: 5px;
                    }
                    &:hover {
                        @include respond-above(xl) {
                            .nav-link.dropdown-toggle {
                                color: $dark;
                                &::before {
                                    color: $dark;
                                }
                            }
                        }
                    }
                    &.dropdown {
                        &:hover {
                            >.dropdown-menu {
                                visibility: visible;
                                opacity: 1;
                                top: 100%;
                                .dropdown-menu {
                                    top: 0;
                                }
                            }
                        }
                    }
                    .nav-link {
                        @include fontStyle(1.4rem, 600, $tundra);
                        padding: 3px 15px 3px 0;
                        &.dropdown-toggle {
                            @include respond-below(lg) {
                                display: inline-block;
                                position: relative;
                            }
                            &::before {
                                position: absolute;
                                top: 3px;
                                right: 0;
                                content: "\f107";
                                font-family: 'Font Awesome 5 Free';
                                font-weight: 900;
                                color: $grey;
                                font-size: 1.6rem;
                                transition: all .3s ease;
                            }
                            &::after {
                                display: none;
                                height: 0;
                                width: 0;
                            }
                        }
                    }
                    
                    .dropdown-menu {
                        background: $white;
                        border-radius: 10px;
                        transition: all .3s ease;
                        @include respond-above(xl) {
                            min-width: 190px;
                            padding: 20px 0;
                        }
                        @include respond-above(lg) {
                            padding: 15px 0;
                            border: 1px solid rgba($black, 0.06);
                            box-shadow: 0px 10px 20px rgba($black, 0.05);
                            position: absolute;
                            top: calc(100% + 15px);
                            left: 0;
                            visibility: hidden;
                            opacity: 0;
                            display: block;
                            min-width: 170px;
                        }
                        @include respond-below(lg) {
                            border: 0;
                            padding-left: 20px;
                        }
                        .nav-item {
                            margin-right: 0;
                            .dropdown-item {
                                padding: 5px 22px;
                                width: 100%;
                                @include fontStyle(1.4rem, 600, $tundra);
                                @include respond-below(xl) {
                                    padding: 5px 18px;
                                }
                                @include respond-below(lg) {
                                    padding-right: 0;
                                    padding-left: 0;
                                }
                                &:hover {
                                    color: $dark;
                                    background: #F3F3F3;
                                    @include respond-below(lg) {
                                        background: transparent;
                                        color: $tundra;
                                    }
                                }
                                span {
                                    margin-right: 10px;
                                    font-size: 1.2rem;
                                }
                            }
                            .dropdown-toggle {
                                position: relative;
                                @include respond-below(lg) {
                                    display: inline-block;
                                    width: auto;
                                    padding-right: 15px;
                                }
                                &::before {
                                    position: absolute;
                                    top: 3px;
                                    right: 22px;
                                    content: "\f105";
                                    font-family: 'Font Awesome 5 Free';
                                    font-weight: 900;
                                    color: $grey;
                                    font-size: 1.6rem;
                                    transition: all .3s ease;
                                    @include respond-below(xxl) {
                                        right: 18px;
                                    }
                                    @include respond-below(lg) {
                                        right: 0;
                                        content: "\f107";
                                    }
                                }
                                &::after {
                                    display: none;
                                    height: 0;
                                    width: 0;
                                }
                            }
                        }
                        .dropdown-menu {
                            left: 100%;
                            top: 0;
                            .dropdown-menu {
                                right: 100%;
                                left: auto;
                            }
                        }
                    }
                }
            }
            .mobile__login {
                display: none;
                @include respond-below(md) {
                    display: inline-block;
                    margin-bottom: 20px;
                    padding: 10px 22px;
                    font-size: 1.4rem;
                    font-weight: 700;
                    text-transform: uppercase;
                }
            }
        }
        .nav__quick__option {
            flex: 0 0 auto;
            display: flex;
            align-items: center;
            @include respond-below(lg) {
                margin-left: auto;
                margin-right: 30px;
            }
            @include respond-below(md) {
                margin-right: 0;
            }
            .nav__mobile__search,
            .color__mood,
            .wallet__icon {
                color: $grey;
                margin-right: 40px;
                font-size: 1.8rem;
                @include respond-below(md) {
                    margin-right: 25px;
                }
                &:hover {
                    color: $dark;
                }
            }
            .nav__mobile__search {
                display: none;
                @include respond-below(xl) {
                    margin-right: 30px;
                    display: block;
                    font-size: 1.6rem;
                }
                @include respond-below(md) {
                    margin-right: 25px;
                }
            }
            .color__mood {
                // @include respond-below(md) {
                //     margin-right: 25px;
                // }
            }
            .login__option {
                padding: 13.5px 22px;
                font-size: 1.4rem;
                font-weight: 700;
                text-transform: uppercase;
                @include respond-below(md) {
                    display: none;
                }
            }
        }
        @include respond-below(lg) {
            .navbar-toggler {
                width: 20px;
                height: 16px;
                position: relative;
                transform: rotate(0deg);
                transition: .5s ease-in-out;
                cursor: pointer;
                padding: 0;
                font-size: 0;
                box-shadow: none;
                border: 0;
                span {
                    display: block;
                    position: absolute;
                    height: 2px;
                    width: 0%;
                    background: $dark;
                    opacity: 1;
                    left: 0;
                    transition: all .3s ease;
                    &:nth-child(1) {
                        top: 0;
                        left: 50%;
                    }
                    &:nth-child(2) {
                        transform: rotate(45deg);
                        width: 100%;
                        top: 7px;
                    }
                    &:nth-child(3) {
                        transform: rotate(-45deg);
                        width: 100%;
                        top: 7px;
                    }
                    &:nth-child(4) {
                        top: 14px;
                        left: 50%;
                    }
                }
                &.collapsed {
                    span {
                        width: 100%;
                        color: $grey;
                        &:nth-child(1),
                        &:nth-child(4) {
                            left: 0;
                        }
                        &:nth-child(2) {
                            transform: rotate(0);
                            top: 7px;
                        }
                        &:nth-child(3) {
                            transform: rotate(0);
                        }
                    }
                }
            }
        }
    }
    .nav__mobile__search__box {
        display: none;
        @include respond-below(xl) {
            // display: block;
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            z-index: 9999999;
            background: $white;
            padding: 20px;
            padding-bottom: 40px;
            box-shadow: 0px 10px 20px rgba($black, 0.05);
            form {
                position: relative;
                padding-left: 30px;
                .search__close {
                    position: absolute;
                    top: 4px;
                    left: 0;
                    color: $grey;
                    font-size: 2.2rem;
                }
                button {
                    position: absolute;
                    top: 10px;
                    right: 15px;
                    background: transparent;
                    color: $grey;
                    font-size: 1.6rem;
                }
            }
            p {
                @include fontStyle(1.4rem, 600, $grey);
                text-align: center;
            }
        }
    }
}
