@include respond-above(hl) {
	.container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
		max-width: 1440px;
	}
}

.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
	padding-right: 15px;
	padding-left: 15px;
}

.row {
	margin-left: -15px;
	margin-right: -15px;
	> * {
		padding-left: 15px;
		padding-right: 15px;
	}
}

.round-10 {
	border-radius: 10px;
}
